<div class="container comment-container  my-2 ">
    <div class="row">
        <div class="vertical-line"></div>
        <div class="col-2">
            <img src="{{comment.img}}" class="img-fluid avatar-img" alt="">
        </div>
        <div class="col-10 py-2 sub-comment">
            <app-edit-comment *ngIf="isEditingComment" [comment]="currentComment" (updateComment)="handleUpdateComment($event)" (cancelEdit)="cancelEdit()" ></app-edit-comment>
            <div class="d-flex flex-column">
                <span>{{comment.name}}</span>
                <span class="ms-2">{{comment.date}}</span>
            </div>
            <p class="ms-3">{{comment.comment}}</p>
            <div class="d-flex justify-content-center">
                <span (click)="toggleReplyForm(comment)" class="me-2 replay pointer">{{comment.showReplyForm ? 'Cancel' : 'Reply'}}</span>
                <span (click)="startEditing(comment)"  class="text-danger pointer"> Edit </span>
                
            </div>
        </div>        
    </div>
</div>

<div *ngIf="comment.showReplyForm" class="reply-form">
    <app-add-comment [addReply]="addReply" [parentComment]="comment"></app-add-comment>
</div>

