<div class="custom fs-5 w-100 text-white p-3">
   <div class="container">
        <div class="container">
            <span>Bio</span> 
        </div>    
        <div class="container my-2">
            <span style="color: #b5b4d3 !important;">Lives in </span> <span> {{LiveIn}}</span>
        </div>    
        <div class="container mb-2">
            <span style="color: #b5b4d3 !important;">Birth date </span> <span> {{BirthDate}}</span>
        </div>    
        <div class="container mb-2">
            <span style="color: #b5b4d3 !important;">Followers </span> <span> {{Followers}}</span>
        </div>    
        <div class="container">
            <span style="color: #b5b4d3 !important;">Following </span> <span> {{Following}}</span>
        </div>    
   </div>
  
</div>
  