<div class=" customp container d-flex flex-column fs-5 text-white p-3">
    <span class="fw-bold">Bio</span>
    <span style="color: #b5b4d3 !important;">Lives in <span> {{userDetails?.LiveIn}}</span></span>
    <span style="color: #b5b4d3 !important;">Birth date <span> {{userDetails?.BirthDate}}</span></span>
    <span style="color: #b5b4d3 !important;">Followers <span> {{userDetails?.Followers}}</span></span>
    <span style="color: #b5b4d3 !important;">Following <span> {{userDetails?.Following}}</span></span>

</div>
