<div class="profile-header">
    <div class="container cover-container position-relative">
        <img class="cover img-fluid" src="assets/images/post-img.png" alt="cover" />

            <div class="row justify-content-center">
                <div class="overlay-div position-absolute bottom-0 end-0 p-3">
                    <img src="{{url}}{{author.profileImageUrl}}" class="avatar-img img-fluid profile-pic me-3" alt="profile image">
                    <div class="name-div">
                        <h1 class="name mb-1">{{ author.name }}</h1>
                        <span>{{ author.email }}</span>
                    </div>
                    <div *ngIf="author.id != currentAuthor.id">
                        <button *ngIf="isFollower" (click)="unFollow(author.id)" class="ms-5 btn-outline-danger btn follow-button d-flex align-items-center me-2">
                            <i class="fa-regular fa-heart me-2"></i>
                            UnFollow
                        </button>
                        <button *ngIf="!isFollower" (click)="follow(author.id)" class="ms-5 btn follow-button d-flex align-items-center me-2">
                            <i class="fa-regular fa-heart me-2"></i>
                            Follow
                        </button>
                    </div>
                </div>
            </div>
                                
    </div>
</div>
