<div class="react container">
    <div class="row align-items-center justify-content-between">
        <div class="col" (click)="setReact(1)">
            <img src="assets/images/1.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col" (click)="setReact(2)">
            <img src="assets/images/2.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col" (click)="setReact(3)">
            <img src="assets/images/3.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col" (click)="setReact(4)">
            <img src="assets/images/4.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col" (click)="setReact(5)">
            <img src="assets/images/5.png" class="pointer img-fluid" alt="" srcset="">
        </div>
    </div>
</div>