<div class="react container">
    <div class="row align-items-center justify-content-between">
        <div class="col">
            <img src="assets/images/happy.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col">
            <img src="assets/images/wow.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col">
            <img src="assets/images/wired.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col">
            <img src="assets/images/cry.png" class="pointer img-fluid" alt="" srcset="">
        </div>
        <div class="col">
            <img src="assets/images/angry.png" class="pointer img-fluid" alt="" srcset="">
        </div>
    </div>
</div>