.Chatsbox-container{
  height: 100vh;
  padding: auto;
  border-radius: 15px; 
}

.chats{
color: white;
font-size: 24px;

}

 .avatar img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.chatsholder{

    position: relative;
    background-color:transparent;  
    color: white;               
    text-align: left;           
    width: 100%;  
                 

}
.chatsholder:hover{
    background-color: rgba(89, 88, 140, 0.5); 
    color: white;
    width: 100%;

}