<div
  class="Chatsbox-container fixed bg-secondary bg-opacity-50 d-flex flex-column align-items-start p-4"
>
  <div class="chats mb-4">Chats</div>

  <div class="Chats-container">
    <button class="btn chatsholder avatar d-flex align-items-center gap-2 mb-4 ">
      <img
        src="assets/images/profile.png"
        alt="Profile Image"
        class="img-fluid"
      />
      <span>Username </span>
    </button>
    <button class="btn chatsholder avatar d-flex align-items-center gap-2 mb-4">
      <img
        src="assets/images/profile.png"
        alt="Profile Image"
        class="img-fluid"
      />
      <span>Username </span>
    </button>
    <button class="btn chatsholder avatar d-flex align-items-center gap-2 mb-4">
      <img
        src="assets/images/profile.png"
        alt="Profile Image"
        class="img-fluid"
      />
      <span>Username </span>
    </button>
    
  </div>
</div>
