<!-- TODO: new-post component -->
<!-- TODO: Map on list of posts using app-post component -->
<!--<div class="posts-container">
    <div class="btn btn-primary">this is home component</div>
    <div *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
    </div>
</div>
!-->
<div class="container">
    <div class="row ">
        <div class="col-2 p-0 d-none d-lg-block">
            <div class="position-sticky" style="top: 100px;">
                <app-side-nav ></app-side-nav>
            </div>
        </div>
        <div class=" mt-1 col-12 col-lg-7 d-flex flex-column gap-3  ">

            <app-new-post (newPost)="handleNewPost($event)"></app-new-post>
            <div *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
        </div>
        <div class="col-3 p-0  d-none d-lg-block d-flex flex-column ">
            <div class="position-sticky" style="top: 100px;">
                <app-chats-box></app-chats-box>
            </div>
        </div>
    </div>
</div>
