<div class="post-container bg-secondary my-4">
    <div class="row mb-3 justify-content-between align-items-center">
        <div class="col">
            <div class="user-section d-flex gap-2">
                <img src="assets/images/profile.png" class="avatar-img img-fluid" alt="" srcset="">
                <div class="info d-flex flex-column gap-1">
                    <span>Ahmed Mubarak</span>
                    <span>2024/10/12</span>
                </div>
            </div>
        </div>
        <div class="col-1">
            <span class="fs-2">
                <i class="fa-solid fa-xmark"></i>
            </span>
        </div>
    </div>
    <div class="row gap-2">
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis enim id explicabo dolores debitis mollitia eum nobis architecto voluptatibus, earum accusantium illum sapiente fuga in voluptate dignissimos. Adipisci, odit aperiam?</div>
        <img src="assets/images/post-img.png" alt="" class="img-fluid">
    </div>
    <hr>
    <div class="row justify-content-around align-items-center">
        <div (click)="toggleReact()" class="pointer col-3 align-items-center"><i class="fa-regular fa-heart mx-1"></i>React</div>
        <div (click)="toggleComments()" class="pointer col-3 align-items-center"><i class="fa-regular fa-heart mx-1"></i>Comment</div>
        <div class="pointer col-3 align-items-center"><i class="fa-regular fa-heart mx-1"></i>Share</div>
    </div>
    <div *ngIf="isReactVisible">
        <app-react></app-react>
    </div>

</div>


<div *ngIf="isCommentsVisible" class="comments">
    <app-add-comment [addReply]="addComment" [parentComment]="comments"></app-add-comment>
    <div *ngFor="let comment of comments">
        <div class="comment">
        <app-comment [comment]="comment"></app-comment>

        <span class="ms-4  pointer" *ngIf="comment.subComments.length > 0" (click)="toggleSubComments(comment)">
            {{ comment.showSubComments ? 'Hide all replay' : 'View all replay' }}
        </span>
    
        <div *ngIf="comment.showSubComments" class="sub-comments ms-5">
            <ng-container *ngTemplateOutlet="nestedComments; context: { $implicit: comment.subComments }"></ng-container>
        </div>
        </div>
    </div>
</div>
  
<ng-template #nestedComments let-subComments>
<div *ngFor="let subComment of subComments">
    <div class="comment">
    <app-comment [comment]="subComment" ></app-comment>


    <span class="ms-4 pointer" *ngIf="subComment.subComments.length > 0" (click)="toggleSubComments(subComment)">
        {{ subComment.showSubComments ? 'Hide all replay' : 'View All replay' }}
    </span>

    <div *ngIf="subComment.showSubComments" class="sub-comments ms-5">
        <ng-container *ngTemplateOutlet="nestedComments; context: { $implicit: subComment.subComments }"></ng-container>
    </div>
    </div>
</div>
</ng-template>