<div class="Navbar-container fixed d-flex flex-column align-items-start p-4">
  <button
    class="btn btn-custom d-flex  bg-secondary align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Home
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Friends
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Memories
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Saved
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Video
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Feeds
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Events
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-regular fa-heart me-2"></i>
    Games
  </button>
</div>
