.Navbar-container{
    height: 80vh;
    border-radius: 15px; 
}
.btn-custom {
    background-color:transparent;
    color: white;
    text-align: left;
    width: 100%;
}

.btn-custom:hover {
    background-color: rgba(89, 88, 140, 0.5); 
    color: white;               
}



