<div class="Navbar-container d-flex flex-column align-items-start p-4">
  <button class="btn btn-custom d-flex bg-secondary text-white align-items-center mb-4">
    <i class="fa-solid fa-house me-2"></i> Home
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-user-group me-2"></i> Friends
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-book-open me-2"></i> Memories
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-bookmark me-2"></i> Saved
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-video me-2"></i> Video
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-rss me-2"></i> Feeds
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-calendar-day me-2"></i> Events
  </button>
  <button class="btn btn-custom d-flex align-items-center mb-4">
    <i class="fa-solid fa-gamepad me-2"></i> Games
  </button>
</div>
