<div class="col-12 triangle-background  margin-top">
   <div class="container">
       <div class="row align-items-start">
           <!-- Left side: Signup Form -->
           <div class="col-md-6 d-flex position-relative flex-column align-items-start">
               <h1>Welcome Dude!<br>SignUp to the amazing world!</h1>
               <div class="col-12 d-flex flex-column align-items-start mt-5">
                   <app-signup-input (signupinput)="onSignup($event)"></app-signup-input>
                   <div class="d-flex flex-column align-items-start mt-3">
                       <h6>
                           <span class="opacity-50 me-2">Already have an account ? </span>
                             <a routerLink="/login" class="btn" >Login</a>
                       </h6>
                       <div class="d-flex justify-content-end mt-3">
                        <button [routerLink]="['/login']" class="btn btn-primary">SignUp</button>
                       </div>
                   </div>
               </div>
           </div>

           <!-- Right side: Image -->
           <div class="col-md-6 position-relative d-flex justify-content-end align-items-start">
               <img src="assets/images/Login.jpeg" alt="" class="img">
           </div>
       </div>
   </div>
</div>
