.user-name{

    border-radius: 10px;
    background-color: #3c3964
}
.btn-custom {
    background-color:rgba(89, 88, 140, 0.5);  
    color: white;               
    text-align: left;           
    width: 100%;   
    border: white;            
}

.btn-custom:hover {
    background-color: rgba(89, 88, 140, 0.5); 
    color: white;               
}
