/* edit-post.component.css */
.post-container {
    padding: 15px 27px;
    border-radius: 15px;
    margin: 20px 10px;
  }
  
  .post-textarea {
    color: white;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
  }
  
  .post-textarea::placeholder {
    color: #fff;
  }
  
  .file-upload label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .file-upload i {
    font-size: 18px;
    margin-right: 5px;
  }
  
  #file-input {
    display: none;
  }
  